// * {
//   justify-content: center;
//   justify-content: left;
//   flex-direction: column;
// }
.imprint {
  display: flex;
  justify-content: center; /* horizontally center .text-position */
  align-items: center; /* vertically center .text-position */
}

.text-position {
  width: 30%;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

@media screen and (max-width: 650px) {
  .imprint {
    flex-direction: column;
    width: max-content;
  }
}
